

.wrapper{
  background-color: black;
  padding: 0.5px;
  margin-bottom: 100px;
}

h1{ 
   color: white;
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: rgb(74, 118, 174);
  min-width: 1200px;
  /* margin-left: 20px;
  margin-right: 20px; */
  margin:0px
}

section[class="subhead"]{
  color:black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

#home{
  float: left;
  background: white;
  width: 33.333%;
  cursor: pointer;
}
#home:hover {
  background-color: #45a049;
}
#repo{
  float: left;
  background: white;
  width: 33.333%;
  cursor: pointer;

}

#repo:hover {
  background-color: #45a049;
}
#about{
  float: left;
  background: white;
  width: 33.333%;
  cursor: pointer;


}

#about:hover {
  background-color: #45a049;
}

#para{
  display: block;
  padding: 10px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 text-align: center;
 font-size: large;
 color:whitesmoke
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:whitesmoke;
  font-size: medium;
  font-size: medium;
}

table{
  border-collapse: collapse;
  width: 40%;
  background-color: whitesmoke;
  /* display:inline-block */
margin-left: 10px;
}

th,td{
  text-align: left;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

tr:nth-child(even) {
  background-color: rgb(156, 192, 153);
}

th{background:#04AA6D;}

ul{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:whitesmoke;
  font-size: medium;
  font-size: medium;
}

#reg{
  display: block;
  /* padding: 10px; */
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: large;
 color:whitesmoke
}

input[type=text]{
  width: 20%;
  padding: 10px;
  margin: auto;
  display:inline-block;
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}

input[type=password]{
  width: 20%;
  padding: 10px;
  margin: auto;
  display:inline-block;
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}

.lbels{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: large;
 color:whitesmoke;
 margin-left: 10px;
}

input[type=submit] {
  width: 20%;
  background-color: #4caf50;
  color:white;
  padding:10px;
  margin:auto;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}
input[type=submit]:hover {
  background-color: #45a049;
}

#dog{
  float: right;
  position: relative;
  right:350px;
  bottom:150px;
  border-radius: 8px;
  max-width: 30%;
  height: 300px;
  display: block;
}

#container1{
position: relative;
}
#info{
  border-style: solid;
  float: right;
  width:500px;
  height:140px;
  position: absolute;
  right:300px;
  top:185px;
  background: green;
  min-height: 41px;
  min-width: 300px;
}

#me{
  text-align: justify;
  font-size: medium;
}

.footer{
  background-color: whitesmoke;
  color:black;
  border-top: 10px solid green;
  height:120px;
  padding-top: 20px;
  display:block;
  margin-top: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

#p2{
  float: left;
  color:black;
  display: block;
}

.button{
  float:right;
  background-color: #4caf50;
  border:none;
  color: black;
  padding: 017px;
  text-align:center;
  display:block;
  font-size: large;
  color:black;
  text-align:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.button:hover {
  background-color: #45a049;
}

a{
  text-decoration: none;
}